#body {
    background-color: green;
}
#header{
    width: 100%;
    height: 10%;
    background-color: blue;
}
#sidebar {
    width: 20%;
    height: 90%;
    background-color: blueviolet;
}
#mainpage {
    width: 80%;
    height: 90%;
    background-color: lightblue;
}
#btn1 {
    width: 20%;
    height: 90%;
    background-color: lightslategray;
}